<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <meta charset="UTF-8">

  <title>CodePen - Animated Login Form using Html &amp; CSS Only</title>

  <link rel="stylesheet" href="./style.css">
</head>
<body>

    <table>
        <tr>
            <td>Name</td>
            <td>email</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        <% obj.forEach(function(justOne) { %>
        <tr>
            <td><%= justOne.name %></td>
            <td><%= justOne.email %></td>
            <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
            <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
        </tr>
    <% }); %>
    </table>

    <form action="/addName" method="post">
        <input id="usName" type="text" required name="name" placeholder="Please type your name"><br><br>
        <input id="usSurname" type="text" required name="surname" placeholder="Please type your surname"><br><br>
        <input id="usAge" type="number" name="age" placeholder="Please type your age"><br><br>
        <input id="usPassword" type="password" name="password" placeholder="Please type your password"><br><br>
        <input id="usPhoneNumber" type="phonenumber" name="phonenumber" placeholder="Please type your phonenumber"><br><br>
        <input id="usEmail" type="email" name="email" placeholder="Please type your email"><br><br>
        <input type="submit" >
    </form>

    <script src="script.js"></script>



<!-- partial:index.partial.html -->

<section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>

    <div class="signin">

     <div class="content">

      <h2>Sign In</h2>

      <div class="form">

       <div class="inputBox">

        <input type="text" required> <i>Username</i>

       </div>

       <div class="inputBox">

        <input type="password" required> <i>Password</i>

       </div>

       <div class="links"> <a href="#">Forgot Password</a> <a href="#">Signup</a>

       </div>

       <div class="inputBox">

        <input type="submit" value="Login">

       </div>

      </div>

     </div>

    </div>

   </section> <!-- partial -->



</body>



</html>
